<?xml version="1.0"?>
<robot name="cereal_box">

  <link name="body">
    <collision>
        <origin xyz= "0.0 0.0 0.0" rpy="0 0 0"/>
        <geometry>
            <mesh filename="./meshes/cereal_box.obj" scale="0.85 1 0.20"/>
        </geometry>
        <surface>
        <contact>
          <collide_without_contact>false</collide_without_contact>
        </contact>
        </surface>
    </collision>

    <visual name='visual'>
        <origin xyz= "0.0 0.0 0.0" rpy="0 0 0"/>
        <geometry>
            <mesh filename="./meshes/cereal_box.obj" scale="0.85 1 0.20"/>
        </geometry>
    </visual>

    <inertial>
      <origin xyz= "0.0 0.0 0.02" rpy="0 0 0"/>
      <mass value="0.250"/>
      <inertia ixx="0.02" ixy="0.0" ixz="0.0" iyy="0.02" iyz="0.0" izz="0.02" />
    </inertial>
  </link>
  
</robot>
